<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.servicematter.android.civilserviceregulation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/newimageicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newimageicon"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_bf395e89a315198929ddca163fafecf64899d524" />
        <activity android:name=".Procurement_Details"></activity>
        <activity android:name=".Procurement_Search" />
        <activity android:name=".Procurement_Bookmark" />
        <activity android:name=".Procurement_Main" />
        <activity android:name=".Procurement_Chapter" />
        <activity android:name=".Finance_Search" />
        <activity android:name=".Finance_Details" />
        <activity android:name=".Finance_Bookmark" />
        <activity android:name=".Finance_Chapter" />
        <activity android:name=".Financial_Main" />
        <activity android:name=".Financial_Regulations_Coat_of_Arm" />
        <activity android:name=".appendix" />
        <activity
            android:name=".ruleBookmark"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruleSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ruledetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rules_chapter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preface"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rule_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Civil_Service_Regulation_Coat_Of_Arm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Civil_Service_Rules_Coat_Of_Arm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookmarksPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticleDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preamble"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chapters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>