<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.servicematter.android.civilserviceregulation">

    <application
        android:name="com.servicematter.android.civilserviceregulation.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/newimageicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newimageicon"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity android:name="com.servicematter.android.civilserviceregulation.appendix"></activity>
        <activity
            android:name="com.servicematter.android.civilserviceregulation.ruleBookmark"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.ruleSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.ruledetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.rules_chapter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.Preface"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.rule_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.Civil_Service_Regulation_Coat_Of_Arm"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.Civil_Service_Rules_Coat_Of_Arm"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.Search"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.BookmarksPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.ArticleDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.Preamble"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.Chapters"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.servicematter.android.civilserviceregulation.SplashScren"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.servicematter.android.civilserviceregulation.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>